
.doctor-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 12px 20px;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
}

.doctor-logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.doctordash-icon {
  font-size: 3rem;
  color: #007bff;
}

.doctor-logo-section h2 {
  font-size: 22px;
  font-weight: bold;
  color: #007bff;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}

.logout-btn:hover {
  background: #316195;
}

.doctor-content {
  margin-top: 60px;  
}